.main {
    /* width:50%; */
    margin-left: 5%;
    margin-top: 20%;
    margin-right: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 5%;

}

button {
    background-color: rgb(53, 234, 33);
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px;
}

table, td, th {
    /* width: 80%; */
    border: 1px solid;
    border-collapse: collapse;
}

table {
    width:80%;
    margin: auto;
}