<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <title>Document</title>
</head>
<body>
        <centre style="color:red; font-size:bold">{{error}}</centre>

    <div>
<!--        <p>welcome {{user}}</p>-->
        <form method="post">
            {% csrf_token %}
            mobile : <input type="number" minlength="10" maxlength="10" required class="input" name="mobile"><br>
            <button type="submit" class="submit"> get OTP</button>
            <br><br>
            <p>new user? <a href="/signup">signup</a></p>
        </form>
    </div>
</body>
</html>